<h1><%=@post.id%>번째 글</h1>
<p>제    목 : <%= @post.title%></p></br>
<p>내    용 : <%= @post.content%></p></br>
<p>작성시간 : <%= @post.created_at%></p></br>
<p>수정시간 : <%= @post.updated_at%></p></br>

<a href="/">홈으로</a>